<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATMアプリ</title>
  </head>
  <body>
    <section id="app">
      <div>
        <h1>入力画面</h1>
        <input type="number" v-model="nyuryokugaku" />
        <p>入力額：{{ nyuryokugaku }}円</p>
        <button v-on:click="nyukin" v-bind:disabled="nyuryokugaku<=0">
          入金
        </button>
        <button v-on:click="syukkin" v-bind:disabled="zandaka<=0">出金</button>
      </div>

      <div>
        <h1>口座残高</h1>
        <p>残高：{{ zandaka }}円</p>
      </div>

      <div>
        <h1>取引記録</h1>
        <div v-for="log in logs">
          <p>日付：{{ log.date }}</p>
          <p>操作：{{ log.type }}</p>
          <p>金額：{{ log.money }}</p>
        </div>
      </div>
    </section>
    <script src="https://unpkg.com/vue@3.2.20"></script>
    <script src="main.js"></script>
  </body>
</html>
